[submodule "header2"]
	path = site-lisp/header2
	url = https://github.com/emacsmirror/header2
[submodule "unicad"]
	path = site-lisp/unicad
	url = https://github.com/emacsmirror/unicad.git
[submodule "aria2"]
	path = site-lisp/aria2
	url = https://github.com/LdBeth/aria2.el.git
[submodule "snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "netease-cloud-music"]
	path = site-lisp/netease-cloud-music
	url = https://github.com/SpringHan/netease-cloud-music.el.git
[submodule "site-lisp/english-teacher"]
	path = site-lisp/english-teacher
	url = https://github.com/loyalpartner/english-teacher.el.git
[submodule "site-lisp/evil-magit"]
	path = site-lisp/evil-magit
	url = https://github.com/emacs-evil/evil-magit.git
[submodule "org-media-note"]
	path = site-lisp/org-media-note
	url = https://github.com/yuchen-lea/org-media-note.git
