[submodule "unicad"]
	path = site-lisp/unicad
	url = https://github.com/emacsmirror/unicad.git
[submodule "lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "header2"]
	path = site-lisp/header2
	url = https://github.com/emacsmirror/header2.git
[submodule "achive"]
	path = site-lisp/achive
	url = https://github.com/zakudriver/achive.git
[submodule "org-excalidraw"]
	path = site-lisp/org-excalidraw
	url = https://github.com/devbins/org-excalidraw.git
[submodule "aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "english-teacher"]
	path = site-lisp/english-teacher
	url = https://github.com/loyalpartner/english-teacher.el.git
[submodule "emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "websocket-bridge"]
	path = site-lisp/websocket-bridge
	url = https://github.com/ginqi7/websocket-bridge.git
[submodule "dictionary-overlay"]
	path = site-lisp/dictionary-overlay
	url = https://github.com/ginqi7/dictionary-overlay
[submodule "holo-layer"]
	path = site-lisp/holo-layer
	url = https://github.com/manateelazycat/holo-layer.git
[submodule "emacs-anki-helper"]
	path = site-lisp/emacs-anki-helper
	url = https://github.com/Elilif/emacs-anki-helper.git
[submodule "plantuml-emacs"]
	path = site-lisp/plantuml-emacs
	url = https://github.com/ginqi7/plantuml-emacs.git
[submodule "ts-docstr"]
	path = site-lisp/ts-docstr
	url = https://github.com/emacs-vs/ts-docstr.git
[submodule "insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "paw"]
	path = site-lisp/paw
	url = https://github.com/chenyanming/paw.git
[submodule "emt"]
	path = site-lisp/emt
	url = https://github.com/roife/emt.git
[submodule "mu4e-thread-folding"]
	path = site-lisp/mu4e-thread-folding
	url = https://github.com/rougier/mu4e-thread-folding.git
[submodule "hurl-mode"]
	path = site-lisp/hurl-mode
	url = https://github.com/JasZhe/hurl-mode.git
[submodule "gptel-aibo"]
	path = site-lisp/gptel-aibo
	url = https://github.com/dolmens/gptel-aibo.git
