# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/var/
/url/
/transient/
/recentf
/projectile-bookmarks.eld
/places
/persp-confs/
/history
/elpa/
/.env
/.elfeed/
/.mc-lists.el
/.persistent-scratch
/amx-items
/forge-database.sqlite
/bookmarks
/aria2c.session
/newsticker/
/.extension/
/.cache/
